.root{
    -fx-background-color: #1D1D1D;
}

/* Cabecera navegación */
.grid-pane{
    -fx-background-color:  #F5B612;
}

/* Hijos de grid pane */
.navegar{
    -fx-background-color: transparent;
}

.navegar:hover{
    -fx-background-color: #936B06;
}

.split-pane {
    -fx-background-color:  #F5B612;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

/* Hijos de grid pane */

/* TextField de URL y búsqueda */
.busqueda{
    -fx-background-color: #142736;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
}
/* TextField de URL y búsqueda */


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2F3F4F;
}

.tab-pane .tab{
    -fx-background-color: #F5B612;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
}

.tab-pane .tab .tab-label{
    -fx-font-size: 13px;
}

.list-view{
    -fx-background-color: #131820;
}

.list-view:filled:selected{
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.list-cell {
    -fx-text-fill: white;
    -fx-background-color: #090C10;
}

.list-cell:filled:hover {
    -fx-background-color:  #131820;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:  #F5B612;
    -fx-text-fill: #1D1D1D;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #2F3B51;
}

.scroll-bar .decrement-button .decrement-arrow,
.scroll-bar .increment-button .increment-arrow{
    -fx-background-color: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: #19253B;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover{
    -fx-background-color: #142736;
}

.scroll-bar .thumb:pressed{
    -fx-background-color: white;
}